## 2. Clase práctica - Análisis de datos con Pandas - Parte 1

## Para realizar esta NB deben tener los datasets data1 y data2 en formato csv.

**Importamos librerias que vamos a usar en toda la NB**

In [4]:
import pandas as pd
import numpy as np
import os

### Importar los dataframes.

**Llamar al data1.csv "df" y al data2 "df_variables"**.

In [170]:
print(os.getcwd()) #chequear que el archivo se encuentre guardado en el directorio actual
df = pd.read_csv("data1.csv", delimiter=",") 
df_variables = pd.read_csv("data2.csv", delimiter=",")

/Users/mati/Desktop/Personal/UBA/Ciclo Profesional/Compu Científica Actuarial/Python/Prácticas/Pandas

In [124]:
df.columns.tolist()
df_variables.columns.tolist()

['Unnamed: 0',
 'rut',
 'periodo',
 'archive',
 'predictor1_7',
 'predictor1_8',
 'predictor1_9',
 'predictor1_10',
 'predictor1_11',
 'predictor1_12',
 'ignite_ise',
 'ind_compra_paga']

### Detalles de la data:

**Es importante destacar que no importa mucho que significa cada variable en esta NB, ya que el objetivo principal es que puedan realizar los ejercicios y entender cómo funciona pandas**.

No obstante, les dejamos una breve descripción de algunos atributos en caso que lo necesiten.

- rut = ID de cada observación.
- Periodo = periodo de cada observación.
- Los campos rut y periodo son las claves por las cuales los registros son únicos, es decir que no hay duplicados con mismo rut y periodo.
- ind_activo: Informacion si el cliente se encuentre activo.
- estado_solicitud: estado en el que se encuentra la solcitud del cliente.
- captacion: metodo de captacion por el cual fue captado el cliente.
- marca_6m_60d_final: 1 si el cliente es malo y 0 si es bueno.
- etc.

#### Si importaron el dataset y les quedo la columna "Unnamed: 0". Eliminarla usando drop

**Atentos a no olvidarse el inplace=True!!**

In [125]:
df.drop(columns="Unnamed: 0", inplace=True)
df_variables.drop(columns="Unnamed: 0",inplace=True)

### 1) Realizar Sanity check de la data.

Para este primer punto, utilizar el dataset df que hace referencia al **data1.csv.** No obstante, si quieren realizarlo en ambos, nunca esta demás.

**Funciones Útiles**

* .head()
* .info()
* .shape
* .dtypes
* .describe
* .isna()
* .sum()
* .unique()
* .nunique()
* .value_counts()

#### 1.1) Observar las primeras 5 filas del dataset "df".

In [126]:
df.head()

,rut,periodo,archive,ind_activo,estado_solicitud,captacion,cant_tel,predictor1_6,marca_60d_6m_final
0,PlDKtWGFBg,201909.0,20190930.0,0.0,Rechazado,NORMAL,1.0,596.0,1.0
1,MOAbr9v9ac,201810.0,20181031.0,1.0,Aprobado,EXPRESS,4.0,NaN,0.0
2,49L1vb3c2I,201909.0,20190930.0,1.0,Aprobado,NORMAL,3.0,633.0,0.0
3,7xM1iIFNCb,201812.0,20181231.0,1.0,Aprobado,EXPRESS,4.0,NaN,0.0
4,e2ayZYSD59,201809.0,20180930.0,1.0,Aprobado,NORMAL,0.0,NaN,0.0

In [127]:
df_variables.head()

,rut,periodo,archive,predictor1_7,predictor1_8,predictor1_9,predictor1_10,predictor1_11,predictor1_12,ignite_ise,ind_compra_paga
0,PlDKtWGFBg,201909.0,20190930.0,551.0,506.0,506.0,640.0,681.0,640.0,D,0.0
1,MOAbr9v9ac,201810.0,20181031.0,NaN,NaN,NaN,NaN,NaN,NaN,C3,0.0
2,49L1vb3c2I,201909.0,20190930.0,544.0,675.0,675.0,749.0,749.0,749.0,D,0.0
3,7xM1iIFNCb,201812.0,20181231.0,NaN,NaN,NaN,NaN,NaN,NaN,E,0.0
4,e2ayZYSD59,201809.0,20180930.0,NaN,NaN,NaN,NaN,NaN,NaN,E,0.0

#### 1.2) Observar las últimas 5 filas del dataset "df".

In [171]:
df.tail()

,Unnamed: 0,rut,periodo,archive,ind_activo,estado_solicitud,captacion,cant_tel,predictor1_6,marca_60d_6m_final
9995,9995,aaoBjnEivN,201909.0,20190930.0,0.0,Rechazado,NORMAL,4.0,350.0,1.0
9996,9996,ydTWpQrnQV,201912.0,20191231.0,1.0,Aprobado,NORMAL,3.0,605.0,0.0
9997,9997,gE0FksUKBV,202003.0,20200331.0,1.0,Aprobado,EXPRESS,1.0,805.0,0.0
9998,9998,5Vf8evWasd,201905.0,20190531.0,1.0,Aprobado,EXPRESS,5.0,387.0,0.0
9999,9999,WP6QjuqjbW,201908.0,20190831.0,1.0,Aprobado,EXPRESS,8.0,410.0,0.0

In [172]:
df_variables.tail()

,Unnamed: 0,rut,periodo,archive,predictor1_7,predictor1_8,predictor1_9,predictor1_10,predictor1_11,predictor1_12,ignite_ise,ind_compra_paga
9995,9995,aaoBjnEivN,201909.0,20190930.0,438.0,659.0,527.0,602.0,602.0,720.0,D,0.0
9996,9996,ydTWpQrnQV,201912.0,20191231.0,605.0,605.0,605.0,605.0,648.0,648.0,D,0.0
9997,9997,gE0FksUKBV,202003.0,20200331.0,805.0,805.0,805.0,805.0,805.0,805.0,C2,0.0
9998,9998,5Vf8evWasd,201905.0,20190531.0,476.0,94.0,476.0,386.0,NaN,NaN,C1b,0.0
9999,9999,WP6QjuqjbW,201908.0,20190831.0,746.0,746.0,799.0,569.0,569.0,569.0,D,0.0

#### 1.3) Obtener información general del dataframe utilizando .info()

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10000 non-null  int64
 1   rut                 10000 non-null  object
 2   periodo             10000 non-null  float64
 3   archive             10000 non-null  float64
 4   ind_activo          10000 non-null  float64
 5   estado_solicitud    10000 non-null  object
 6   captacion           10000 non-null  object
 7   cant_tel            10000 non-null  float64
 8   predictor1_6        6904 non-null   float64
 9   marca_60d_6m_final  10000 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 781.4+ KB

In [174]:
df_variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10000 non-null  int64
 1   rut              10000 non-null  object
 2   periodo          10000 non-null  float64
 3   archive          10000 non-null  float64
 4   predictor1_7     6538 non-null   float64
 5   predictor1_8     6143 non-null   float64
 6   predictor1_9     5756 non-null   float64
 7   predictor1_10    5329 non-null   float64
 8   predictor1_11    4900 non-null   float64
 9   predictor1_12    4421 non-null   float64
 10  ignite_ise       9973 non-null   object
 11  ind_compra_paga  10000 non-null  float64
dtypes: float64(9), int64(1), object(2)
memory usage: 937.6+ KB

#### 1.4) Obtener dimensiones del dataframe (filas y columnas).

In [175]:
df.shape

(10000, 10)

In [176]:
df_variables.shape

(10000, 12)

#### 1.5) Obtener tipo de datos de las columnas

In [177]:
df.dtypes

Unnamed: 0              int64
rut                    object
periodo               float64
archive               float64
ind_activo            float64
estado_solicitud       object
captacion              object
cant_tel              float64
predictor1_6          float64
marca_60d_6m_final    float64
dtype: object

In [178]:
df_variables.dtypes

Unnamed: 0           int64
rut                 object
periodo            float64
archive            float64
predictor1_7       float64
predictor1_8       float64
predictor1_9       float64
predictor1_10      float64
predictor1_11      float64
predictor1_12      float64
ignite_ise          object
ind_compra_paga    float64
dtype: object

#### 1.6) Seleccionar las columnas ind_activo, estado_solicitud y cant_tel y realizar un .head()

In [179]:
df[["ind_activo","estado_solicitud","cant_tel"]].head()

   ind_activo estado_solicitud  cant_tel
0         0.0        Rechazado       1.0
1         1.0         Aprobado       4.0
2         1.0         Aprobado       3.0
3         1.0         Aprobado       4.0
4         1.0         Aprobado       0.0

#### 1.7) Observar la distribucion de estas 3 variables utilizando el método describe()

In [180]:
df[["ind_activo","estado_solicitud","cant_tel"]].describe()

        ind_activo      cant_tel
count  10000.00000  10000.000000
mean       0.68600      2.680800
std        0.46414      2.132831
min        0.00000      0.000000
25%        0.00000      1.000000
50%        1.00000      2.000000
75%        1.00000      4.000000
max        1.00000     34.000000

#### 1.8) Chequear cantidad de valores nulos por columna.

**Pista:** Utilizar isna() y luego la suma de ello para obtener los valores por columna.

In [181]:
df.isna().sum()

Unnamed: 0               0
rut                      0
periodo                  0
archive                  0
ind_activo               0
estado_solicitud         0
captacion                0
cant_tel                 0
predictor1_6          3096
marca_60d_6m_final       0
dtype: int64

#### 1.9) Calcular el valor de nulos en %.

**Pista:** Dividir el bloque de codigo anterior por la cantidad de filas en el dataframe.

In [182]:
df.isna().sum()/df.shape[0]*100

Unnamed: 0             0.00
rut                    0.00
periodo                0.00
archive                0.00
ind_activo             0.00
estado_solicitud       0.00
captacion              0.00
cant_tel               0.00
predictor1_6          30.96
marca_60d_6m_final     0.00
dtype: float64

#### 1.9) Obtener la cantidad de valores únicos en las columnas categoricas.

- Primero seleccionar las columnas categoricas
- Luego correr nunique() en cada una **Fijarse de agregar el parametro dropna=False para tener en cuenta nulos**
- Luego si quieren con unique() pueden ver cuales son aquellos valores únicos.

In [183]:
categóricas_df = df.select_dtypes("O").columns

df[categóricas_df].nunique(dropna=False)

rut                 9991
estado_solicitud       2
captacion              2
dtype: int64

#### 1.10) Calcular la distirbución por la variable captacion (cuantos registros hay por cada valor unico de captacion).

Utilizar la funcion value_counts() y tener en cuenta dropna.

In [184]:
df["captacion"].value_counts(dropna=False)

EXPRESS    5879
NORMAL     4121
Name: captacion, dtype: int64

Si lo queremos ver en %.

In [185]:
df["captacion"].value_counts(1,dropna=False)

EXPRESS    0.5879
NORMAL     0.4121
Name: captacion, dtype: float64

### 2) Tratamiento de Datos

#### 2.1) Imputacion de nulos 

Para esta parte vamos a usar el dataset "df_variables" que hace referencia al data2.csv

#### Imputar las columnas predictor1_7 y predictor1_9 por el valor 100. 

Primero chequear que tengan nulos.

**Pista:** Utilizar fillna()

In [186]:
df_imputar = ["predictor1_7","predictor1_9"]
df_variables[df_imputar].isna().sum() # cantidad de NaN en cada variable

predictor1_7    3462
predictor1_9    4244
dtype: int64

In [187]:
df_variables[df_imputar] = df_variables[df_imputar].fillna(100)
df_variables[df_imputar].isna().sum() # chequeamos que la cantidad de NaN en cada variable ahora sea 0

predictor1_7    0
predictor1_9    0
dtype: int64

#### Imputar las columnas predictor1_10 y predictor1_11 por la media de cada columna.

Primero chequear que tengan nulos.

**Pista:** Utilizar fillna()

In [188]:
df_variables[["predictor1_10","predictor1_11"]].isna().sum()

predictor1_10    4671
predictor1_11    5100
dtype: int64

In [189]:
df_variables["predictor1_10"].fillna(df_variables["predictor1_10"].mean(),inplace=True)
df_variables["predictor1_11"].fillna(df_variables["predictor1_11"].mean(),inplace=True)
df_variables[["predictor1_10","predictor1_11"]].isna().sum()

predictor1_10    0
predictor1_11    0
dtype: int64

#### 2.2) Tratamiento strings: upper, lower, replace

Para esta parte vamos a usar el dataset "df" que hace referencia al **data1.csv**

Muchas veces hay que realizar cambios en variables que vienen como string, por ejemplo, llevar todo a mayúsculas, minúsculas, reemplazar un simbolo, dividir por algún valor (*split*), etc. Pandas trae incorporada distintas funciones que nos ayudan a cumplir estas tareas. La forma de acceder a estas funciones es la siguiente:

``` pd.Series.str.#funcion```

``` tu_df.tu_columna.str.upper()```

#### Convertir los valores de captacion a letra miniscula.

Se puede hacer con str.lower() o con una funcion lambda x luego de aplicar un apply.

In [155]:
df.captacion = df.captacion.str.lower()
df.head()

,rut,periodo,archive,ind_activo,estado_solicitud,captacion,cant_tel,predictor1_6,marca_60d_6m_final
0,PlDKtWGFBg,201909.0,20190930.0,0.0,Rechazado,normal,1.0,596.0,1.0
1,MOAbr9v9ac,201810.0,20181031.0,1.0,Aprobado,express,4.0,NaN,0.0
2,49L1vb3c2I,201909.0,20190930.0,1.0,Aprobado,normal,3.0,633.0,0.0
3,7xM1iIFNCb,201812.0,20181231.0,1.0,Aprobado,express,4.0,NaN,0.0
4,e2ayZYSD59,201809.0,20180930.0,1.0,Aprobado,normal,0.0,NaN,0.0

#### Convertir los valores de vuelta a mayusculas

In [156]:
df.captacion = df.captacion.str.upper()
df.head()

,rut,periodo,archive,ind_activo,estado_solicitud,captacion,cant_tel,predictor1_6,marca_60d_6m_final
0,PlDKtWGFBg,201909.0,20190930.0,0.0,Rechazado,NORMAL,1.0,596.0,1.0
1,MOAbr9v9ac,201810.0,20181031.0,1.0,Aprobado,EXPRESS,4.0,NaN,0.0
2,49L1vb3c2I,201909.0,20190930.0,1.0,Aprobado,NORMAL,3.0,633.0,0.0
3,7xM1iIFNCb,201812.0,20181231.0,1.0,Aprobado,EXPRESS,4.0,NaN,0.0
4,e2ayZYSD59,201809.0,20180930.0,1.0,Aprobado,NORMAL,0.0,NaN,0.0

####  Ahora, si reemplazar algún simbolo por podemos usar la funcion ```str.replace```, la cual toma un substring y lo convierte en otro.
Por ejemplo, reemplazar todas las "ex" por otro string en la columna ```captacion```

In [190]:
df.captacion = df.captacion.str.replace("EX","COM")
df.head()

,Unnamed: 0,rut,periodo,archive,ind_activo,estado_solicitud,captacion,cant_tel,predictor1_6,marca_60d_6m_final
0,0,PlDKtWGFBg,201909.0,20190930.0,0.0,Rechazado,NORMAL,1.0,596.0,1.0
1,1,MOAbr9v9ac,201810.0,20181031.0,1.0,Aprobado,COMPRESS,4.0,NaN,0.0
2,2,49L1vb3c2I,201909.0,20190930.0,1.0,Aprobado,NORMAL,3.0,633.0,0.0
3,3,7xM1iIFNCb,201812.0,20181231.0,1.0,Aprobado,COMPRESS,4.0,NaN,0.0
4,4,e2ayZYSD59,201809.0,20180930.0,1.0,Aprobado,NORMAL,0.0,NaN,0.0

#### 2.3) Tratamiento de duplicados .   

**Tener en cuenta que este tema no se dio en la NB teórica pero los ejercicios pueden ser realizados si investigan un poco. No obstante, no se preocupen si no los pueden realizar ya que serán explicados en la clase práctica tambien.**

Seguimos utilizando el **data1 (df).**

#### Chequear cantidad de duplicados de las columnas estado_solicitud y periodo.

In [202]:
for col in ["estado_solicitud","periodo"]:
    print("La columna {} tiene {} duplicados".format(col,df[col].duplicated().sum()))

La columna estado_solicitud tiene 9998 duplicados
La columna periodo tiene 9979 duplicados

#### Chequear si tenemos duplicados por rut y periodo. Utilizar subset como parametro en la funcion duplicated.

**En la clase practica veremos como dropear duplicados**

#### 2.4) Seleccion de distintas variables y filas.

Utilizar el dataset df

#### Seleccionar las columnas rut, periodo y captacion, en donde captacion sea EXPRESS.

#### Seleccionar filas donde captacion es EXPRESS y estado solicitud Aprobado.

#### Seleccionar filas donde captacion es NORMAL, estado solicitud es Aprobado y el ind_activo es = 1. Sólo seleccionar las columnas rut, periodo, cant tel y ordenar de mayor a menor por cant_tel.

### 3) Joineo de tablas

#### MERGE

**3.1) Joineemos los dos dataframes que tenemos, por las claves de fusion que serán rut y periodo.**

Crear un dataset que se llame df_nuevo que sea un inner join entre df y df_variables. **Usar pd.merge**

**3.1 bis)**
Con el .head() podemos ver que el nuevo df contiene nuevas variables, las que agregamos desde df_variables. Vemos también que las variables que fueron clave de fusion no se duplicaron, lo cual es bueno. 

**Ahora ¿ Qué pasa si las claves de fusion se llaman distinto? Utilizar left_on y right_on**

A pesar de que las variables se llaman, y el código debajo no haria falta en este caso, muchas veces se van a encontrar con distintos nombres de claves de fusion.

**3.2) Realizar un left join pero sólo trayendo algunas variables del dataset df_variables:
'predictor1_7', 'predictor1_8', 'predictor1_9', 'ignite_ise'** . El left join debe ser sobre el dataset df, es decir, que el left seria df y el right df_variables.

Llamar a este dataframe df_merge.

**Chequear shape del nuevo dataset para ver si se hizo correctamente o tenemos duplicados**

### 4) Agrupación

Para realizar agrupaciones, las 2 maneras más comunes son groupby y pivot_table. A pesar de que pivot_table no fue detallado en las NB de teoria, acá explicaremos un poco para que puedan realizar algunos ejercicios utilizando esta herramienta.

### Pivot table

Pivot table es otra forma de realizar group by, la cuál es muy facil de entender si estamos acostumbrados a trabajar con tablas dinamicas en excel.

**Código:**

```pd.pivot_table(data, index='variable o variables indice', columns='variable o variables de columna', values='variable sobre la cual se va a calcular suma/cuenta/media/..., aggfunc='funciones de agregación que se van a apicar a cada variable')```

```pd.pivot_table(
    data,
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False,
    dropna=True,
    margins_name='All',
    observed=False,
)```

**Ejemplo - calcular la bad rate (mean de marca_60d_6m_final) por periodo y la cantidad de registros:**

Podemos ver que no usaremos parametro "column" ya que no hace falta, porque estamos agrupando por periodo y caluculando la media de marca malo (bad rate) y la cuenta de registros (0 y 1) por periodo.

In [ ]:
pd.pivot_table(df_merge, index='periodo', values='marca_60d_6m_final', aggfunc=['mean', 'count', 'sum']).head()

**Ejemplo 1) - Queremos ver la cantidad de malos y buenos por periodo**

In [ ]:
pd.pivot_table(df_merge, index='periodo', columns='marca_60d_6m_final', values='rut', aggfunc='count').head()

Acá vemos que agregamos el parametro columna ya que queremos que cuente separando por marca malo (0 o 1). Como values pusimos rut ya que es una columna sin nulos que nos sirve para hacer el count.

**Ejemplo 2) - agrupar por periodo (indice), ver por captacion (columnas) sobre las columnas rut (count) y cant_tel (media).**

In [ ]:
pd.pivot_table(df_merge, index='periodo', columns='captacion', values=['rut', 'cant_tel'],
              aggfunc={'rut':'count',
                      'cant_tel':'mean'}).head()

Vemos que para mapear variable en values con la funcion, creamos un diccionario en aggfunc y elegimos que metrica calcularle a cada uno.

**Otra forma de verlo es sin usar el parametro columna** - Esto va a ser más util para crear un nuevo dataframe.

In [ ]:
pd.pivot_table(df_merge, index=['periodo','captacion'], values=['rut', 'cant_tel'],
              aggfunc={'rut':'count',
                      'cant_tel':'mean'}).head()

**La importancia de .reset_index()**

Es muy importante destacar que si vamos a querer crear un dataset con la agrupacion realizada, es IMPRESCINDIBLE usar .reset_index() al final del codigo, ya que sino no quedara en el formato correcto.

Miremos el ejemplo de arriba aplicando reset_index()

In [ ]:
pd.pivot_table(df_merge, index=['periodo','captacion'], values=['rut', 'cant_tel'],
              aggfunc={'rut':'count',
                      'cant_tel':'mean'}).reset_index().head()

**Ejercicio Práctico utilizando pivot_table**

Agrupar por captacion y obtener la media y el desvio de cant_tel. Para esto crear un nuevo dataset que se llame: info_captacion.

Una vez obtenido esto, joinear la nueva columna al df_merge con un left_join (clave de fusion='captacion'). 

Pista: Para esto una vez obtenido el df info_captacion, debemos renombrar las columnas de manera correcta.

``` info_captacion.columns = ['captacion', 'mean_cant_tel', 'std_cant_tel'] ```

### Group by

Group by es la forma más simple para agrupar variables. Es un poco más simple que pivot_table y las funciones son muy similares. **Muy importante recordar .reset_index() ya que cumple la misma funcion aquí**

**Código**

``` dataset.groupby(['variables de agrupacion'])['variables a calcular metrica'].agg(['métricas: count/mean/sum') ```

Pueden ser mas de una variable de agrupacion, mas de una variable a calcular metrica y más de una metrica.

**Ejemplo - Agrupar por captacion y calcular la media y la cantidad de registros utilizando la variable marca_60d_6m_final**

In [ ]:
df_merge.groupby(['captacion'])['marca_60d_6m_final'].agg(['mean', 'count']).reset_index()

**1) Ejercicio groupby simple**

Agrupar por captacion y periodo, la bad rate (mean de marca_60d_6m_final). Convertir en dataframe en el formato correcto.

**2) Ejercicio groupby medio**

Agrupar por captacion y periodo, la cantidad de registros (count del rut) y la bad rate (mean de marca_60d_6m_final).

### Creación de variables

**Crear la variable "captacion_corregido" en donde si captacion es "EXPRESS", tome el valor "Rápido" y si no tome el valor "Básico.**

Se puede hacer con np.where, con .loc o con .map y un diccionario.

**HACERLO SOBRE DF_MERGE**

**Usando Map**

**Usando Replace**

**2) Crear la columna "flag_predictor" de la siguiente manera**:

Si predictor > 800 entonces flag_predictor = "Alto";
Si predictor es maor a 600 pero menor a 800 entonces flag_predictor = "Medio";
Si predictor es menor o igual a 600 flag_predictor = "Bajo".

**Tener cuidado con los nulos** Si predictor1_6 es nulo ponerle el valor "Revisar".

**- Usando np.where**

**- Usando If-else**

Para esto usaremos lambda x, que aunque no este en las NB de teoria se suele utilizar para este tipo de cosas.

**- EXTRA: Usando cut**

**EXTRA - Crear una columna que sea "nueva_col" la cual sea cada valor de la columna predictor 1_7 menos la resta del valor máximo de esa columna**.

Ejemplo, si el valor maximo de la columna predictor1_7 es 100, y en la primer fila tenemos el valor 80, el valor de esa fila para la nueva columna seria (80-100) = -20.