### `TP - COMPUTACIÓN CIENTIFICA ACTUARIAL 1C 2022.

### `Objetivo:`
- Implementar las técnicas aprendidas como parte del curso.

### `Data information`

- TRIPS
    1. Request id: un identificador único de la solicitud
    2. Time of request: La fecha y hora en que el cliente realizó la solicitud de viaje
    3. Drop-off time: La fecha y hora de regreso, en caso de que el viaje se haya completado
    4. Pick-up point: El punto desde el que se realizó la solicitud
    5. Driver id: el número de identificación único del conductor
    6. Status of the request: el estado final del viaje puede ser completado, cancelado por el conductor o no hay autos disponibles
    
   
- DRIVERS
    1. Driver id: identificador de conductor/a.
    2. Name: Nombre del conductor/a.
    3. Gender: Género del conductor/a.
    
### `Objetivos de aprendizaje.:`
- Exploratory Data Analysis

- Visualization using Python

- Pandas – groupby, merging 


### `Realizar comentarios acerca de los insights que van encontrando en la data será tenido en cuenta a la hora de corregir el TP.:`

### Importar Librerias

Librerias: Pandas, Numpy, matplotlib, seaborn.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

### Leer datasets

**Trips**

**Drivers**

*Leer dataset con el parametro delimiter=";"*

### 1. Sanity check de los datos.

#### 1.1 Inspeccionar datasets con head()

#### 1.2 Chequear shape de datasets

Utilizar print statements avanzados para que quede un output del estilo:

"El dataset correspondiente a trips tiene la forma:    ; y el dataset drivers tiene la forma:    ..."

#### 1.3 Inspeccionar columnas y dtypes.

Imprimir columnas de cada dataset.

### 2. Joinear ambas bases para continuar con el chequeo de valores nulos. 

Utilizar la funcion merge de pandas y llamar al nuevo dataframe df_final. La idea es usar el dataframe trips como table madre, y traer la información de los drivers del dataframe de conduntores/as.

**No debemos perder datos de la tabla de trips.**

**Pista:** Las variables para joinear, son del mismo dtype? En caso que no lo sean, conviertan la columna en el mismo dtype que el dataset madre para que funcione el merge.

**2.1 Modificar la columna Driver id del dataset de drivers a float**

Vemos que en la columna Driver id del dataset de drivers, tenemos una ",", la cual no nos va a permitir convertir el string a float.

1. Cambiar la coma por . utilizando .replace() sobre la columna Driver id
2. Modificar el dtype de la columna y pasarlo a float.

**2.2 Joinear datasets y obtener el df_final**

**2.3 Chequear shape del dataset madre y el dataset nuevo**

Debemos tener la misma cantidad de filas para asegurarnos que el merge se hizo correctamente.

### 3. Analizar valores nulos del dataset mergeado.

### 4. Analizar valores unicos para las distintas variables

**4.1 Variables categoricas**

- Realizar este procedimiento solo para las columnas Pickup point y Status. Usar print avanzado con .format().

### 5. Feature engineering

#### 5.1 Corregir las columnas request timestamp y drop timestamp.

*Observemos que en request timestamp, tenemos algunas fechas separadas con "/" y otras separadas con "-". 
Estandarizemos dicho problema y dejemos solo "/" tanto para las columnas request timestamp y drop timestamp.

**5.2 Convertir las columnas request timestamp y drop timestamp en formato datetime**

**5.3 Crear las columnas year, month y hour para cada columna datetime**

La idea es tener una columna que sea "request_**col**" y "drop_**col**"; siendo **col**: {year, month, hour}.

**Year**

**Month**

**Hour**

### 6. Duración de los viajes.

Chequear la duración de los viajes calculando la diferencia entre las columnas request_timestamp_corrected y drop_timestamp_corrected.

Lastly what I will do is check if the duration of the trips are coherent or not. By coherent I mean that we have some "NORMAL" duration of trips. If I found some trip that lasted more than 8 hs or it's negative, it should be considered an outlier or maybe an error of the data. That is the purpose of this task.

The duration will be calculated in mins and using the columns request_timestamp_corrected and drop_timestamp_corrected.

**Ayuda:** Para obtenerlo en minutos, debemos usar la siguiente sintaxis. 

```df_final["trip_duration_mins"] = (df_final["drop_timestamp_corrected"] - df_final["request_timestamp_corrected"]).astype('timedelta64[m]').astype("float")```

**6.1 Crear la columna "trip_duration_mins" con lo comentado arriba**.

**6.2 Realizar un sanity check sobre las duraciones**

- Chequear distirbucin utilizando .describe()
- Plotear un boxplot y un histograma.

**Tener en cuenta de realizar el describe solo para la columna trip_duration_mins, donde esa columna NO es nula**

**Describe()**

**Boxplot**

**Histograma**

Se ve raro no? Si observamos el describe y el histograma, vemos que tenemos valores concentrados cercanos entre 0 y 100 aproximadamente, y algunos valores extraños (outliers).

**6.3 Topear la columna trip_duration_mins**

Aquellos valores mayores a 83 en la columna trip_duration_mins deben ser topeados en 83; y aquellos valores menores a 5 minutos, deben ser topeados en 5.

**Nota:** El motivo real por el que sucede esto es porque algunas entradas de datos estan erroneas. El problema es que hay ciertos registros de fecha que estan al revés, en donde el mes esta como el día y viceversa. La solución de este problema no será requerida en este trabajo, pero en caso que esten interesados en ver cómo solucionamos este tema, nos pueden escribir y les enviamos la solución. **Por el momento, solo topeen los valores como se menciona en la consigna**.

Chequear nuevamente la distribución graficando el boxplot.

### 7. Crear nueva columna "part_of_the_day" basandonos en la columna hora.


Rangos a crear:
- Morning: de 6 AM a 11 AM.
- Mi-day: de 12 a 14.
- Afternoon: de 15 a 17.
- Evening: de 18 a 21.
- Night: de 21 PM a 5 AM.

**Recomendación: Pueden usar la columna "request_hour" para crear dichas categorias en la nueva columna.**

**Pista:** Usar la funcion pd.cut con el siguiente formato:
```df_final["part_of_the_day"] = pd.cut(columna_hora,
[[0, 5, 11, 14, 17, 21, 24],
labels = [Categorias correspondientes a cada bucket ("night", "morning", ...,
right=True,
include_lowest=True)
```

Tener en cuenta que probablemente deban crear 2 categorias de night y luego reemplazarlas ya que sino no van a poder realizar los cortes.


**7.1 Chequear con un groupby o un pivot_table los valores máximos y minimos de la columna request_hour, agrupando por la columna part_of_the_day**

### 8. Análisis Exploratorio de datos

#### 8.1. Analizar las horas más populares en que los viajes son solicitados (no importa el status de request o trip).

**Graficar:**

Pueden usar sns.countplot() tanto para la columna part_of_the_day o request_hour.

**Insighs**

Comente brevemente los insights del analisis previo.

### 8.2. Distribución del estado de todos los viajes.

Analizar la distribución de la columna "Status".

**Graficar un barplot y calcular utilizando la value_counts() sobre la columna**

**Barplot**

**Value_counts**

**Insights**

Comente brevemente los insights.

### 8.3.  Distribucion de viajes (trips) por parte del dia y status.

El proposito de este grafico es chequear la demanda de viajes por hora del dia, y chequear el status de esos viajes, para chequear donde tenemos problemas.

**Insights**

Comentar brevemente insights de los resultados obtenidos.

### 8.4 Distribucion de pick up point por parte del dia.

La idea es obtener un por parte del dia, como se distribuyen los viajes respecto al pickup point.

**Insights**

Comente brevemente los insights.

### 8.5  Obtener el top 10 de conductores con mayores viajes.

El output esperado es el nombre de los 10 conductores con más viajes, junto a la cantidad de viajes de cada uno.

### 8.6  Obtener la distribución por genero

- Qué genero es más popular entre los conductores?
- Obtener la parte del dia más popular para el género femenino.

**Distribución de géneros**

Usar value_counts y tener en cuenta dropna.

**Parte del dia más popular para el genero femenino**